{% extends 'base.html' %}
{% load static %}
{% block content %}

<main style="width:80%; margin-left:165px">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Thương hiệu</h3>
	<div class="row">
		{% if data %}
			{% for brand in data %}
			<div class="col-md-3 mb-4" style="width:24%; margin-right:7px">
				<div class="card shadow">
				<a href="/brand-product-list/{{brand.id}}"><img src="/media/{{brand.image}}" class="card-img-top" alt="{{brand.title}}" /></a>
				<div class="card-body">
					<h6 class="card-text"><a href="#">{{brand.title}}</a></h6>
				</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</main>
{% endblock %}